/* Element Based Selection */
/* h1{
    background-color: lightblue;
}
h2{
    background-color: lightgreen;
} */

/* Id based Selection using (#) operator */
/* #first{
    background-color: purple;
} */

/* Class based selection using (.) operator */
/* .second{
    background-color: red;
}
.third{
    background-color: purple;
}
.fourth{
    background-color: yellow;
} */

/* Group Selection */
/* h1,.fourth,#fifth{
    background-color: aqua;
} */
/* #six,.seventh{
    background-color: blueviolet;
} */



/* RGB Coloring */
/* #first{
    background-color: rgb(0, 104, 111);
} */

h1{
    font-size: 80px;
}
html{
    font-size: 2em;
}
h2{
    font-size: 40em;
}
/* ul{
    font-size: 20px;
}
li{
    font-size: 1em;
} */