/* span{
    font-style: italic;

    color: blue;
} */
/* 
star(*) is a universal selector
*{
    padding: 0px;
    margin: 0px;
} */

h1{
    background-color: red;
    width: 300px;
    height: 300px;
    /* display: inline; */
    border: 5px solid black;
    padding: 10px;
    margin: 20px;
    box-sizing: content-box;
}
h2{
    background-color: aqua;
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 20px;

    border: 5px solid black;
    box-sizing: border-box;
    /* display: inline; */
}
span{
    background-color: peru;

    /* Ye dono element nhi chalte hai span tag ke andar */
    /* height: 200px;
    width: 200px; */

    /* Padding aur margin horizontally apply hoti hai */
    /* margin-left: 20px;
    padding-right: 30px; */
}