*{
    padding: 0px;
    margin: 0px;
}
.container{
    background-color: aqua;
    display: flex;
    padding: 5px;
    margin: 5px;
    gap: 10px;
}
.box{
height: 300px;
    width: 200px;
}
.first{
    background-color: red;
    border-radius: 10px;
}
.second{
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.child{
    border-radius: 10px;
    height: 50%;
    background-color: orange;
}