{% extends "base.html" %}
{% block content %}
{% load static %}
<section class = 'hero'>
</section>

<section class ='projects'>
    <h2>Fetured Projects</h2>
    <div class="project-grid">
        {% comment %} <div class = "hero">
            <img src="{% static "images/hero (1).jpg" %}" alt="hero_images">
        </div> {% endcomment %}
        <div class="project-card">
            <img src="{% static "images/project1.jpg" %}" alt="Project 1">
            <h3>Portfolio Project</h3>
        </div>
        <div class="project-card">
            <img src="{% static "images/project2.jpg" %}" alt="Project 1">
            <h3>E-Commerce Store</h3>
        </div>
        <div class="project-card">
            <img src="{% static "images/project3.jpg" %}" alt="Project 1">
            <h3>Blog Project</h3>
        </div>
        <div class="project-card">
            <img src="{% static "images/project4.jpg" %}" alt="Project 1">
            <h3>Chat Application</h3>
        </div>
    </div>
</section>
{% endblock %}